/*#region-default*/

.body {
  background-color: #fff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* #endregion-default */
/* #region-HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu,
.address {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  display: block;
  padding: 16px 0;
}
/*
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}*/
/*
.logo-span {
  color: #2e2f42;
  line-height: 1.17
}
*/

.header-logo .logo-span {
  color: #2e2f42;
}

.bt-solid-menu {
  padding: 0;
  border: none;
  background-color: transparent;
}
.icon-solid-menu {
  display: block;
  fill: #2f2f37;
}
/* #endregion-default */
/* #region-min-width: 768px */
@media screen and (min-width: 768px) {
  .bt-solid-menu {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link.current {
    position: relative;
  }

  .menu-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover::after,
  .menu-link:focus::after,
  .menu-link.current::after {
    opacity: 1;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:focus,
  .menu-link:hover,
  .contacts:hover,
  .contacts:focus,
  .menu-link.current {
    color: #404bbf;
  }
}
/* #region-min-width: 1158px */
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .menu-address {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* #region-Mobile menu */

.mobile-menu {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  fill: #2e2f42;
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  background-color: #fff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.menu-nav-ul,
.menu-link,
.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current {
  color: #404bbf;
}

.mobile-menu-icon {
  border-radius: 100%;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: #2e2f42;
  background-color: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.menu-nav-ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
}

.menu-address-link.current {
  color: #4d5ae5;
}

.menu-address-link:hover {
  color: #4d5ae5;
}

.menu-social-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 48px;
}
.mobile-menu-contacts-item {
  cursor: pointer;
  height: 40px;
  width: 40px;
}
.menu-social-media-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-media-list-link:focus,
.menu-social-media-list-link:hover {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion-Mobile menu */
/* #endregion-HEADER */

/* #region-HERO SECTION 1 */
/*
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
*/
.container-hero {
  max-width: 320px;
  min-height: 432px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2e2f42;
  margin-left: auto;
  margin-right: auto;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobail/mobile-people-office.jpg);
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  max-width: 216px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .container-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobail/mobile-people-office@x2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .container-hero {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/tab-people-office.png);
  }

  .hero-title {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .container-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/tab-people-office@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .container-hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/laptop/people-office.jpg);
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .container-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/laptop/people-office@2x.jpg);
  }
}
/* #endregion-HERO SECTION 1 */

/* #region-Advantages SECTION 2 */

.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}
.ul-advantages {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.list-icon {
  display: none;
}

.title-a {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text-a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .ul-advantages {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .title-a {
    text-align: left;
  }

  .text-nav {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .ul-advantages {
    gap: 24px;
  }

  .text-nav {
    width: calc((100% - 72px) / 4);
  }

  .list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
  }

  .title-a {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
/* #endregion-Advantages SECTION 2 */

/* #region OUR TEAM SECTION 3 */

.our-team-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.our-team-taitle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.our-team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.title-b,
.title-c {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.title-b {
  text-align: center;
}

.text-b {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.fon-color {
  max-width: 264px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.text-img {
  padding: 32px 0 32px;
}

.list-icons_our {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}

.li-icon {
  height: 40px;
  width: 40px;
}

.bk-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bk-icon:hover,
.bk-icon:focus {
  background-color: #404bbf;
}

.color-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .fon-color {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .our-team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-team-list {
    gap: 24px;
  }

  .fon-color {
    width: calc((100% - 72px) / 4);
  }
}
/* #endregion-OUR TEAM SECTION 3 */

/* #region PORTFOLIO SECTION 4 */

.portfolio {
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
}

.ul-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.li-portfolio {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.over {
  position: relative;
  overflow: hidden;
}

.text-over {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-portfolio:hover .text-over {
  transform: translateY(0%);
}
.div-portfolio-items {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

@media screen and (min-width: 768px) {
  .ul-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

.li-portfolio {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 24px) / 2);
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .ul-portfolio {
    gap: 48px 24px;
  }

  .li-portfolio {
    box-shadow: none;
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .li-portfolio:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}
/* #endregion PORTFOLIO SECTION 4 */

/* #region FOOTER */
.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}
.box-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.div-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logo-footer {
  margin-bottom: 16px;
}
.logo-footer .logo-span-footer {
  color: #f4f4fd;
}

.footer-text {
  max-width: 288px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-icon-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.list-icon-media {
  display: flex;
  gap: 16px;
}
.icon-media {
  width: 40px;
  height: 40px;
}

.bk-icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.text-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.form-subscribe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-subscribe {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
}

.footer-bt {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-bt::placeholder {
  color: #fff;
}

.footer-bt-svg {
  margin-left: 16px;
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .box-div {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
    margin-left: 108px;
    padding: 0;
    row-gap: 72px;
    column-gap: 24px;
  }

  .div-footer {
    max-width: 264px;
    justify-content: flex-start;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-icon-media {
    text-align: left;
  }

  .bk-icon-footer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .bk-icon-footer:hover,
  .bk-icon-footer:focus {
    background-color: #31d0aa;
  }

  .subscribe {
    display: inline-block;
  }

  .text-subscribe {
    text-align: left;
  }

  .input-subscribe {
    margin-bottom: 0;
    margin-right: 24px;
    width: 264px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input-subscribe {
    border-color: #31d0aa;
  }

  .footer-bt {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-bt:hover,
  .footer-bt:focus {
    background-color: #31d0aa;
    border: none;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .box-div {
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
    margin-left: auto;
    padding: 0 15px;
    gap: 0;
  }

  .div-footer {
    margin-right: 120px;
  }

  .subscribe {
    margin-left: 80px;
  }
}
/* #endregion FOOTER */

/* #region Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.forma-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay:not(.is-open) .forma-overlay {
  transform: translate(-50%, -100%);
}
.close-bt {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  background-color: #e7e9fc;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-bt:hover,
.close-bt:focus {
  fill: #fff;
  background-color: #404bbf;
  border: none;
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-overlay {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.box-label {
  margin-bottom: 8px;
}

.label-list {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.box-input {
  position: relative;
}
.input-list {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-list {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-icon:focus + .input-list {
  fill: #4d5ae5;
}
.box-comment {
  margin-bottom: 16px;
}
.textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus {
  border-color: #4d5ae5;
}
.textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.div-checkbox {
  margin-bottom: 24px;
}
.checkbox:checked + .label-checkbox span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.label-checkbox {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.span-checkbox {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  fill: #404bbf;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.span-checkbox {
  align-items: center;
}

.privacy {
  color: #4d5ae5;
  text-decoration: underline;
}

.bt-checkbox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  justify-content: center;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bt-checkbox:hover,
.bt-checkbox:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .forma-overlay {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
/* #endregion Overlay */
